.employeehader {
  padding: 30px 23px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(212, 213, 212);
}
.employeetitle {
  padding-top: 10px;
  font-weight: 550px;
  font-size: 18px;
}
.iib {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;
}
.icon {
  margin-left: 6px;
  margin-right: 6px;
  font-size: 20px;
  width: 25px;
  height: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.7);
}
.addemployeebutton {
  width: 150px;
  height: 40px;
  background-color: orange;
  font-weight: 800;
  color: white;
  border: none;
  border-radius: 40px;
  transition: all 1s;
  cursor: pointer;
}
.addemployeebutton:hover {
  background-color: rgb(203, 132, 0);
}
